@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body{
	margin: 0px;
	background-color:#32c7a7;
}

header{
	background: yellow;
	color: black;
	padding: 8px 20px 6px 40px;
	height: 50px;
}

header h1{
	display: inline;
	font-family: serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
}
nav ul {
	display: inline;
	padding: 0px;
	float: right;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: black;
	float: left;
	margin-left: 12px;
	

}

nav ul li a{
	color: black;
	text-decoration: none;	
}


.homered{
	background-color: rgb(0, 255, 21);
	padding: 30px 10px 22px 10px;
}

.divider{
	background-color: rgb(0, 255, 21);
	height: 5px;
}

.homeblack:hover{
	background-color: rgb(255, 0, 255);
	padding: 30px 10px 21px 10px;

}


  .box{
    width: 500px;
    height: 430px;
    background: #f4abaa;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 10px;
}

#divimg{
	
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	margin: 40px;
	height: 100%;
	width: 50%;
}






